In [2]:
import pandas as pd

In [3]:
data  = pd.read_csv("data.csv")

In [4]:
data.head()

                 SUBDIVISION    m1     m2    m3      y
0  ANDAMAN & NICOBAR ISLANDS  49.2   87.1  29.2    2.3
1  ANDAMAN & NICOBAR ISLANDS   0.0  159.8  12.2    0.0
2  ANDAMAN & NICOBAR ISLANDS  12.7  144.0   0.0    1.0
3  ANDAMAN & NICOBAR ISLANDS   9.4   14.7   0.0  202.4
4  ANDAMAN & NICOBAR ISLANDS   1.3    0.0   3.3   26.9

In [5]:
dummpies = pd.get_dummies(data.SUBDIVISION)
dummpies

,ANDAMAN & NICOBAR ISLANDS,ARUNACHAL PRADESH,ASSAM & MEGHALAYA,BIHAR,CHHATTISGARH,COASTAL ANDHRA PRADESH,EAST MADHYA PRADESH,EAST RAJASTHAN,EAST UTTAR PRADESH,GANGETIC WEST BENGAL,...,ORISSA,PUNJAB,RAYALSEEMA,SAURASHTRA & KUTCH,SUB HIMALAYAN WEST BENGAL & SIKKIM,UTTARAKHAND,VIDARBHA,WEST MADHYA PRADESH,WEST RAJASTHAN,WEST UTTAR PRADESH
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28900,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28901,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28902,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28903,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28904,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
merged = pd.concat([data,dummpies],axis = 'columns')
merged

,SUBDIVISION,m1,m2,m3,y,ANDAMAN & NICOBAR ISLANDS,ARUNACHAL PRADESH,ASSAM & MEGHALAYA,BIHAR,CHHATTISGARH,...,ORISSA,PUNJAB,RAYALSEEMA,SAURASHTRA & KUTCH,SUB HIMALAYAN WEST BENGAL & SIKKIM,UTTARAKHAND,VIDARBHA,WEST MADHYA PRADESH,WEST RAJASTHAN,WEST UTTAR PRADESH
0,ANDAMAN & NICOBAR ISLANDS,49.2,87.1,29.2,2.3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ANDAMAN & NICOBAR ISLANDS,0.0,159.8,12.2,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ANDAMAN & NICOBAR ISLANDS,12.7,144.0,0.0,1.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ANDAMAN & NICOBAR ISLANDS,9.4,14.7,0.0,202.4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ANDAMAN & NICOBAR ISLANDS,1.3,0.0,3.3,26.9,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28900,LAKSHADWEEP,255.2,117.4,184.3,14.9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28901,LAKSHADWEEP,179.8,145.9,12.4,8.8,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28902,LAKSHADWEEP,180.0,72.8,78.1,26.7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28903,LAKSHADWEEP,132.2,169.2,59.0,62.3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28904,LAKSHADWEEP,160.4,165.4,231.0,159.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
final = merged.drop(["SUBDIVISION"], axis = 'columns')
final

,m1,m2,m3,y,ANDAMAN & NICOBAR ISLANDS,ARUNACHAL PRADESH,ASSAM & MEGHALAYA,BIHAR,CHHATTISGARH,COASTAL ANDHRA PRADESH,...,ORISSA,PUNJAB,RAYALSEEMA,SAURASHTRA & KUTCH,SUB HIMALAYAN WEST BENGAL & SIKKIM,UTTARAKHAND,VIDARBHA,WEST MADHYA PRADESH,WEST RAJASTHAN,WEST UTTAR PRADESH
0,49.2,87.1,29.2,2.3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,159.8,12.2,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12.7,144.0,0.0,1.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9.4,14.7,0.0,202.4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.3,0.0,3.3,26.9,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28900,255.2,117.4,184.3,14.9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28901,179.8,145.9,12.4,8.8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28902,180.0,72.8,78.1,26.7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28903,132.2,169.2,59.0,62.3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28904,160.4,165.4,231.0,159.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [66]:
X = final.drop(['y'],axis =  'columns')
y = final.iloc[:,3]

m12 = X.iloc[:,0]
m12 = m12 ** 2

m22 = X.iloc[:,1]
m22 = m22 ** 2

m32 = X.iloc[:,2]
m32 = m32 ** 2

mm = X.iloc[:,0] * X.iloc[:,1] * X.iloc[:,2]

X = pd.concat([X,m12],axis = 'columns')
X = pd.concat([X,m22],axis = 'columns')
X = pd.concat([X,m32],axis = 'columns')
X = pd.concat([X,mm],axis = 'columns')

,m1,m2,m3,ANDAMAN & NICOBAR ISLANDS,ARUNACHAL PRADESH,ASSAM & MEGHALAYA,BIHAR,CHHATTISGARH,COASTAL ANDHRA PRADESH,EAST MADHYA PRADESH,...,SUB HIMALAYAN WEST BENGAL & SIKKIM,UTTARAKHAND,VIDARBHA,WEST MADHYA PRADESH,WEST RAJASTHAN,WEST UTTAR PRADESH,m1,m2,m3,0
0,49.2,87.1,29.2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,2420.64,7586.41,852.64,125131.344
1,0.0,159.8,12.2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0.00,25536.04,148.84,0.000
2,12.7,144.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,161.29,20736.00,0.00,0.000
3,9.4,14.7,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,88.36,216.09,0.00,0.000
4,1.3,0.0,3.3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1.69,0.00,10.89,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28900,255.2,117.4,184.3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,65127.04,13782.76,33966.49,5521716.464
28901,179.8,145.9,12.4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,32328.04,21286.81,153.76,325286.968
28902,180.0,72.8,78.1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,32400.00,5299.84,6099.61,1023422.400
28903,132.2,169.2,59.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,17476.84,28628.64,3481.00,1319726.160
28904,160.4,165.4,231.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,25728.16,27357.16,53361.00,6128466.960

In [90]:
avg = (X.iloc[:,0] + X.iloc[:,1] + X.iloc[:,2])  ** 2
X = pd.concat([X,avg],axis = 'columns')

ind_2 = (X.iloc[:,0] + X.iloc[:,1] ) ** 2 +  (X.iloc[:,1] + X.iloc[:,2] ) ** 2 +  (X.iloc[:,2] + X.iloc[:,0] ) ** 2
X = pd.concat([X,avg],axis = 'columns')
X

,m1,m2,m3,ANDAMAN & NICOBAR ISLANDS,ARUNACHAL PRADESH,ASSAM & MEGHALAYA,BIHAR,CHHATTISGARH,COASTAL ANDHRA PRADESH,EAST MADHYA PRADESH,...,WEST RAJASTHAN,WEST UTTAR PRADESH,m1,m2,m3,0,0,0,0,0
0,49.2,87.1,29.2,1,0,0,0,0,0,0,...,0,0,2420.64,7586.41,852.64,125131.344,55.166667,331.0,27390.25,27390.25
1,0.0,159.8,12.2,1,0,0,0,0,0,0,...,0,0,0.00,25536.04,148.84,0.000,57.333333,344.0,29584.00,29584.00
2,12.7,144.0,0.0,1,0,0,0,0,0,0,...,0,0,161.29,20736.00,0.00,0.000,52.233333,313.4,24554.89,24554.89
3,9.4,14.7,0.0,1,0,0,0,0,0,0,...,0,0,88.36,216.09,0.00,0.000,8.033333,48.2,580.81,580.81
4,1.3,0.0,3.3,1,0,0,0,0,0,0,...,0,0,1.69,0.00,10.89,0.000,1.533333,9.2,21.16,21.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28900,255.2,117.4,184.3,0,0,0,0,0,0,0,...,0,0,65127.04,13782.76,33966.49,5521716.464,185.633333,1113.8,310137.61,310137.61
28901,179.8,145.9,12.4,0,0,0,0,0,0,0,...,0,0,32328.04,21286.81,153.76,325286.968,112.700000,676.2,114311.61,114311.61
28902,180.0,72.8,78.1,0,0,0,0,0,0,0,...,0,0,32400.00,5299.84,6099.61,1023422.400,110.300000,661.8,109494.81,109494.81
28903,132.2,169.2,59.0,0,0,0,0,0,0,0,...,0,0,17476.84,28628.64,3481.00,1319726.160,120.133333,720.8,129888.16,129888.16
28904,160.4,165.4,231.0,0,0,0,0,0,0,0,...,0,0,25728.16,27357.16,53361.00,6128466.960,185.600000,1113.6,310026.24,310026.24

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, random_state = 42)

In [92]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [93]:
y_pred = model.predict(X_test)

In [94]:
model.score(X_test,y_test)

0.5555356810290412

In [95]:
y_pred

array([ 3.51542404e+02, -2.17171820e-01,  8.80385462e+01, ...,
        2.49902757e+01,  5.47017385e+01,  3.84881731e+02])

In [96]:
y_test

13038    533.8
20244      7.5
20782      2.0
6173       4.1
18567    328.5
         ...
1748       2.6
22245    350.4
20885      5.9
11082    408.0
6685     541.0
Name: y, Length: 8672, dtype: float64

In [97]:
model.score(X_train,y_train)

0.5554560018079744

In [104]:
X.iloc[0,:]

m1                                        49.200000
m2                                        87.100000
m3                                        29.200000
ANDAMAN & NICOBAR ISLANDS                  1.000000
ARUNACHAL PRADESH                          0.000000
ASSAM & MEGHALAYA                          0.000000
BIHAR                                      0.000000
CHHATTISGARH                               0.000000
COASTAL ANDHRA PRADESH                     0.000000
EAST MADHYA PRADESH                        0.000000
EAST RAJASTHAN                             0.000000
EAST UTTAR PRADESH                         0.000000
GANGETIC WEST BENGAL                       0.000000
GUJARAT REGION                             0.000000
HIMACHAL PRADESH                           0.000000
JAMMU & KASHMIR                            0.000000
JHARKHAND                                  0.000000
KERALA                                     0.000000
KONKAN & GOA                               0.000000
LAKSHADWEEP                                0.000000
MADHYA MAHARASHTRA                         0.000000
MATATHWADA                                 0.000000
ORISSA                                     0.000000
PUNJAB                                     0.000000
RAYALSEEMA                                 0.000000
SAURASHTRA & KUTCH                         0.000000
SUB HIMALAYAN WEST BENGAL & SIKKIM         0.000000
UTTARAKHAND                                0.000000
VIDARBHA                                   0.000000
WEST MADHYA PRADESH                        0.000000
WEST RAJASTHAN                             0.000000
WEST UTTAR PRADESH                         0.000000
m1                                      2420.640000
m2                                      7586.410000
m3                                       852.640000
0                                     125131.344000
0                                         55.166667
0                                        331.000000
0                                      27390.250000
0                                      27390.250000
Name: 0, dtype: float64